.mapContainer {
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.map {
  display: block;
  width: 50%;
}
.map img {
  width: 100%;
}
.mapTextContainer {
  width: calc(50% - 50px);
}
.mapTextBold {
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 10px;
  margin: 0;
}
.mapText {
  font-size: 20px;
  margin-left: 10px;
  line-height: 43px;
  letter-spacing: 10px;
}
.eyeCatch {
  position: relative;
  margin: 50px 0 150px 100px;
}

.eyeCatch img {
  width: 100%;
}
.roomText {
  z-index: 1;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 1.8;
}
.roomTextBox {
  position: absolute;
  bottom: -80px;
  left: -100px;
}

@media only screen and (max-width: 768px) {
  .eyeCatch {
    margin: 50px 0 120px 0;
  }
  .roomText {
    z-index: 1;
    font-size: calc(1vw * 4);
    letter-spacing: 3px;
    line-height: 1.8;
  }
  .roomTextBox {
    position: absolute;
    bottom: -20vw;
    left: 10vw;
  }
  .mapContainer {
    width: 100%;
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .map {
    width: 100%;
  }
  .mapTextContainer {
    width: 100%;
  }
  .mapTextBold {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 10px;
    margin-top: 20px;
  }
  .mapText {
    font-size: 14px;
    margin-left: 10px;
    line-height: 1.5;
    letter-spacing: 10px;
  }
}
